body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

button {
    background-color: darkseagreen;
    padding: 1rem;
}

button:hover {
    background-color: aliceblue;
    font-weight: 700;
}